/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
body {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", "Poppins fallback";
}

main {
  a {
    text-decoration: underline $primaryColor;
    color: $textColor;
  }
}

*::selection {
  color: #333;
  background: $primaryColor;
}

.site-button {
}

.btf-section {
  content-visibility: auto;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/* ==========================================================================
   Global buttons
   ========================================================================== */

.btn-primary {
  background-color: $primaryColor;
  color: #fff;
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primaryColor, 10%);
  }
}

.checkered-bg {
  background: url(/img/home/texture-bg.webp) repeat;
}
